*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  height: 100vh;
}

.slider {
  width: 1000px;
  height: 600px;
  margin: auto;
  display: flex;
}

.left, .right{
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 25px;
}

.center{
  height: 100%;
  width: calc(100% - 100px);
  background-color: lightblue;
  position: relative;
}

.center img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bullets{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white
}

.active{
  color: grey;
}
